.headerLog{
    height: 100px;
    width: 249px;
}


.slick-prev,
.slick-next {
  z-index: 10; 
}


.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 11;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  padding: 8px;
  color: white;
}

.custom-arrow.left {
  left: 20px;
}

.custom-arrow.right {
  right: 20px;
}

